.roofer-img-text{
    color: var(--white-color);
}
.roofer-img-text-title{
    font-size: 20px;
}
.sign-in-title{
    font-size: 25px;
}
.form-wrapper ,.google-login-wrapper{
    display: flex;
    justify-content: center;
}
.login-form{
    width: 75%;
}
.sign-in-btn{
    display: flex;
    justify-content: center;
}
.account-text{
    color: var(--primary-color);
}

.email-input {
  padding-left: 42px !important; /* space for icon */
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23999' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='5' width='18' height='14' rx='2' ry='2'/%3E%3Cpolyline points='3 7 12 13 21 7'/%3E%3C/svg%3E")
    no-repeat 14px center;
  background-size: 20px;
}
/* .email-input:focus {
  background-position: -9999px center;
} */




@media (max-width: 768px) {
 .login-form{
    width: 100%;
}
.roofer-img {
    display: none;
}
}