.role-card-main {
  text-align: center;
}

.logo h2 {
  color: var(--primary-color);
  font-weight: 600;
}

.logo p {
  font-size: 14px;
  color: #777;
  margin-bottom: 24px;
}

.role-option {
  /* display: flex; */
  gap: 16px;
  border: 1px solid #e0e6ff;
  padding: 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 16px;
}

/* .role-option.active, */
.role-option:hover {
  border-color: var(--primary-color);
  background: #f4f7ff;
}

.role-option .icon {
  font-size: 28px;
  color: var(--primary-color);
}

.role-title{
    font-size: 25px;
    color: black;
}

.icon{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.roofer-img{
  max-width: none !important;
}
@media (max-width: 768px) {
  .roofer-img {
    max-width: 100% !important;
  }
}
